{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            font-family: "Lucida Console", monospace, sans-serif;
            padding: 30px;
        }
    </style>
    <p align="center"><a href="{{ path('first_step') }}">Rozpocznij</a></p>
{% endblock %}